/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 11, 2020, 9:07:14 PM
    Author     : ADMIN
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

.contactUs {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(Images/contact2.jpg);
    background-size: cover;
    opacity: 2;
}

.contactUs .content {
    max-width: 800px;
    text-align: center;
}

.contactUs .content h2 {
    font-size: 36px;
    font-weight: 600;
    color: #414141;
}

.contactUs .content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4rem;
    color: #414141;
}

.contactUs .content a {
    color: #04befe;
    background-color: #f1f1f1;
    text-decoration: none;
}

.contactUs .content a:hover {
    color: #fff;
    background-color: #414141;
    text-decoration: none;
}

.contactUs .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contactUs .container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contactUs .container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contactUs .container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 22px;
}

.contactUs .container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.contactUs .container .contactInfo .box .text h3 {
    font-weight: 600;
    font-size: 26px;
    color: #04befe;
}

.contactUs .container .contactInfo .box .text p {
    font-size: 18px;
    font-weight: 600;
}

.contactUs .container .contactForm {
    width: 40%;
    padding: 40px;
    background-color: #f1f1f1;
}

.contactUs .container .contactForm h2 {
    font-size: 30px;
    color: #414141;
    font-weight: 600;
}

.contactUs .container .contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactUs .container .contactForm .inputBox input,
.contactUs .container .contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-weight: 400;
    font-size: 18px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #414141;
    outline: none;
    background-color: #f1f1f1;
    resize: none;
}

.contactUs .container .contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #838383;
}

.contactUs .container .contactForm .inputBox input:focus ~ span,
.contactUs .container .contactForm .inputBox input:valid ~ span,
.contactUs .container .contactForm .inputBox textarea:focus ~ span,
.contactUs .container .contactForm .inputBox textarea:valid ~ span {
    color: #B10000;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactUs .container .contactForm .inputBox input[type="submit"] {
    width: 100px;
    background-color: #c3c3c3;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
}

.contactUs .container .contactForm .inputBox input[type="submit"]:hover {
    background-color: #414141;
    color: #fff;
}

@media (max-width: 991px) {
    html {
        overflow-y: scroll;
    }

    .contactUs {
        padding: 30px;
    }

    .contactUs .container {
        flex-direction: column;
    }

    .contactUs .container .contactInfo {
        margin-bottom: 40px;
    }

    .contactUs .container .contactInfo,
    .contactUs .container .contactInfo {
        width: 100%;
    }
}